services:
  trt:
    build: .
    environment:
      - PUID=1000
      - PGID=1000
    shm_size: '1gb'
    volumes:
      - ./run.sh:/workspace/run.sh
      - ./scripts:/workspace/scripts
      - ./CosyVoice2-0.5B:/workspace/CosyVoice2-0.5B
      - ./cosyvoice2_llm:/workspace/cosyvoice2_llm
      - ./trt_engines_bfloat16/:/workspace/trt_engines_bfloat16/
    command:
      - bash
      - run.sh
      - "1"
      - "1"
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              device_ids: ['0']
              capabilities: [gpu]
  tts:
    build: .
    shm_size: '1gb'
    ports:
      - "8000:8000"
      - "8001:8001"
      - "8002:8002"
    environment:
      - PYTHONIOENCODING=utf-8
      - MODEL_ID=${MODEL_ID}
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              device_ids: ['0']
              capabilities: [gpu]
    volumes:
      - ./model_repo_cosyvoice2:/model_repo
      - ./CosyVoice2-0.5B:/workspace/CosyVoice2-0.5B
      - ./cosyvoice2_llm:/workspace/cosyvoice2_llm
      - ./trt_engines_bfloat16:/workspace/trt_engines_bfloat16
    command:
      - tritonserver
      - --model-repository=/model_repo
      - --cache-config=local,size=104857
